*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: logo;
    src: url(logo.ttf);
}

@font-face{
    font-family: heading;
    src: url(front-h1.ttf);
} 


.container{
    background-color: #edbc9e;
    height: 100vh;
    display: grid;
    grid-template-rows: 30px 500px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    grid-gap: 1rem;
    
}

.navbar{
    grid-column:1/4 ;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.nav-logo{
    font-family: logo;
    color: purple;
    margin-top: 5px;
}

.nav-logo span{
    color: #b62130;
    font-size: 1.5rem;
}

.real-nav ul{
    display: flex;
    gap: 10px;

}

.real-nav ul li{
    list-style: none; 
}

.frontview{
    background-color: blue;
    grid-column: 1/4;
    grid-row:2/3 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}

.front-image{
    background-color: darksalmon;
    grid-column: 2/3;
    grid-row: 1/2;
}
.front-image img {
    width: 100%;
    height: 500px;
}
.front-txt{
    background-color: #ffffff;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    
}
.front-txt h1{
    font-size: 6rem;
    padding-left: 3rem;
    padding-top: 3rem;
    color: #b62130;
    font-family: heading;
}
.front-txt p{
    padding: 3rem;
}

.front-btn{
    margin-left: 3rem;
    font-size: 15px;
    padding: 10px;
    background-color: #b62130;
    color: #ffffff;
}

.fristprod{
    background-color: #ffffff;
    grid-column:1/4 ;
    grid-row:3/4 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px ;
    gap: 1rem;
}

.prod-1{
    grid-column: 2/3;
    grid-row: 1/2;
}

.prod-1 img{
    width: 100%;
    height: 100%;
}
.prod-2{
    grid-column: 3/4;
    
}
.prod-2 img{
    width: 100%;
    height: 100%;
}
.prod-3{
    grid-column: 4/5;
    
}
.prod-3 img{
    width: 100%;
    height: 100%;
}
.prod-4{
    grid-column: 5/6;
    
}
.prod-4 img{
    width: 100%;
    height: 100%;
}
.prod-5{
    grid-column: 6/7;
    
}
.prod-5 img{
    width: 100%;
    height: 100%;
}
.prod-6{
    grid-column: 7/8;
}
.prod-6 img{
    width: 100%;
    height: 100%;
}